<div class="center">
    <div class="prologue">
        <h2>Time to Testify</h2>
        <p>I have lived a blessed life, one I don't deserve, but I thank God for giving me. I wanted to write about a few of those blessings. Some that seemed like curses at the time have become clearer.</p>

        <h2>The Early Years</h2>
        <p>
            Born and raised by both parents in the small town of Greene, ME. I was "energetic" as my mother puts it, and certainly gave her a run for her money.
            There was no fear in me, and so the injuries came early and often, but I managed to survive.
        </p>
        <p>
            The social structure of school was a challenge for me, always being bigger then all the kids in my class, and having a quiet temperament made me a bit of a target I think. Looking back at it now, I also see the great joy that it produced in my life.
            I believe I was about 10 when I went to a vacation bible school, as I did each summer, but this year would be different. I met another boy, Andy, who had just moved to the area, and we became fast friends. He lived only a mile or two from me, but went to a different school. For me, it was a new start with someone without prejudice against me. We soon became best friends, his family becoming like a second family to me.
            A little later on, maybe a year past, my mother, and sister decided to switch churches. Now at this time, I hated church, thought of it as a time that all the fun I could be having had to wait. To make matters worse, the church they decided to go to was right next door to the school, and so was the common location of all my classmates that I despised so. Shortly after this change however, I was invited to go with Andy to his church instead, an invitation that I jumped at. Soon I was at church a few times a week, either brigades, or youth group, or a service on Sunday.
            At age 15 I went to a “Super bowl”, which has nothing to do with football, instead it was a all night youth event. This event is where I first met the lovely Stephanie Moitozo. We officially started dating shortly there after, starting a rough road before getting married at 19. Looking back on it all now I see how much of my life would have been destroyed had I simply been more popular in elementary school. Going through it was rough, but God’s will is always so much grander then we realize.
        </p>

        <div class="career">
            <h2>An Odd Career Path</h2>
            <p>
                Another blessing I have had is the ability to work with computers from a very young age. I remember working with a commodore 64 in kindergarten. It fascinated me, and I picked up the ability quickly. This trend continued throughout my school, working on Apple IIe’s up to 8086’s and so on. From kindergarten, I knew I wanted to work with computers for a career. Of course that didn’t stop me from largely ignoring school.
                I could never get myself to consistently do homework. I figured out early on that I could for the most part cram the work in before classes, the work might get a failing grade, but it was better than a zero. I did listen in class, and I would learn the vocabulary of a subject matter. Between those two things I could pretty much ace tests, which would bring my GPA into the passing realm, if not spectacular. This always drove my parents crazy, and they tried to fix me, but any improvement was always short lived.
                Upon graduating (just barely), I got engaged, much to my parents dismay, they had visions of college, but I loved a girl, and couldn’t think of anything else. A few months later the engagement had been broken off, and I found myself wondering what to do. I applied to a local school, for computer science, but was denied, not all that surprising given my high school record. While I had been waiting for the schools response, Stephanie and I had started talking again, and soon we had mended our relationship, and the engagement was back on. This time both parents thought we were nuts, and looking back I can see why they thought that. We were married, went on our honeymoon, and when I came home I had to look for a job. Funny how, looking back on it, I wasn’t all that concerned about this.
                I started temping with a bank doing data entry. Soon I was hired on full time, not glamorous, but it was consistent. I did that job for a little over a year before it was decided that the department would be moved out of state in 3 months. So the resume starts coming out, not that I really had much of one, but I started applying to all the help desk positions I could find within the bank. I never got as far as an interview. With the clock ticking down I opened my search to pretty much any position within the bank. I got an interview with some department for a CSR position I think. The person I interviewed with, upon looking at my resume didn’t think I wanted to be a CSR. I had no choice but to agree, but I also pleaded my case for any employment. At this she went out, and introduced me to an IT project manager. We got along just fine, and upon leaving I had some hope that I would still find something. The next day I was called to come down to Portland to meet with someone who needed a LAN admin for their department. I excitedly agreed. The next day upon showing up discovered I was pretty much already hired. I was introduced to people, and even worked on a couple of problems. This job was given to me with no qualifications at all. I don’t even thing my resume was read. It was God saying here this will get you moving in the right direction.
                I worked there for a couple years, and went from doing just hardware, and desktop support, to reporting, and some very basic coding. When the reporting guy left, I took over his work, and kept my support duties going too. At that point I made a rather large raise request. Started feeling a bit under compensated for the work load I was carrying. The request was flatly denied. I was irate, unable to comprehend why they wouldn’t even negotiate. I made a phone call, found a head hunter, and sent him my resume. A week later I was employed as a software developer, in way over my head, but I continue to enjoy the work 12 years later.
                Through all this, I had largely ignored God. I didn’t go to church, and didn’t feel the need. I smoked, I drank, had a good time. God was far from my mind, and yet he blessed me continually.
            </p>
        </div>

        <div class="music">
            <h2>Music</h2>
            <p>
                I love music. My folks tried to get me to learn piano, took lessons for a couple years, practiced the mandatory 10 minutes a day when my mother remembered to tell me. Then I stopped for years. Stephanie was able to play a couple hooks on the piano, and her mother has a Steinway grand. At one point, and I don’t remember exactly why, I decided to pull out Fur Elise, and figure it out. It took me a couple days to pull it all together, but in that process I discovered how music worked. I no longer had to play off sheet music. I could make music flow from a piano without thinking about. I would just feel, and it would play. I would still say that I am not a great pianist, when asked to play something specific I still stumble, but given freedom to play, I can play.
                Years later, I remember sitting in church after a service and hearing somebody fooling around on the bass guitar and thinking I’d like to do that. Soon after I had my first bass, and after a couple lessons, and a month of working my fingers, I started playing with my churches worship team. I was awful, but I could play the right note, at the right time, at least most of the time. After a couple years I stopped going to church, stopped playing bass for probably 8 years. It was only a couple years ago that I was reunited with the instrument, and church, and what I consider to be my true conversion to Christianity. I’ll go into to that in a bit. In the last couple years I have become a much better bass player, learned guitar, and have started learning the violin. Music is a huge part of my life, but more than that it has been an avenue for me to praise God. His gifts continue to amaze me.
            </p>
        </div>

        <h2>Kids</h2>
        <p>
            Just before switching jobs, my first Son, Keith, was born. His entrance into this world was pretty scary, as Steph had some medical issues. Those first couple days were a powerful bonding time for he, and I. I went from never having changed a diaper to being what amounts to a single parent for a couple days. It was a great joy, a moment no one could have explained to me.
            A couple months later, and just after I switched jobs, we moved from Portland, back to Greene. We moved in with my grandmother, who had Alzheimer’s, allowing her to stay home, and us to save money. It was a challenging time, but those challenges lead us down the path to be able to purchase the house, and keep the home in the family.
            In 2001 Keegan was born. I was thrilled, but also far more freaked out. I think it was the loss of freedom that flipped a switch in my head. Looking back I don’t know why I reacted the way I did. It was the fear of this reaction that stopped me from wanting more kids.
            Fast forward 8 years and that fear had disappeared. I desired to try again, hoping for a daughter, but God would determine that. It took longer than we ever thought it would, but a year later Steph was pregnant. We were absolutely thrilled. Her name would be Bethany Elise. My life had changed drastically in the prior 6 months. I had accepted Christ as my Lord. I was serving in the church, and learning as much as I could about God. So when the miscarriage happened it absolutely crushed me, I suppose I was looking for the prosperity gospel. I still don’t fully understand why, but I will say that through it all I was able to lean on God. He is faithful, and as painful as it was, and still is, I know that I grew more in my faith at that time than any other period in my life. I also cling to the hope that I will see her in heaven, and that her life will be more blessed than we can imagine, as she has only known the love of Christ.
            Steph conceived twice more that year, and two more miscarriages occurred. Kyle, and Kara. I admit to protecting my heart more with those two. I don’t know that I could have handled it if I did not.
            I know that my God is in control, and I trust in His plan. So many parts in my life have seemed like tragedy, only to become blessings for me to question His way.
        </p>
        <h2>Christ</h2>
        <p>
            A couple years back I bought my wife a camera for Christmas. That gift changed my life. I have always liked the artistry of photography as well, and enjoy taking pictures at events for the most part. So when a friend let us know that his son was going to be baptized on Sunday, I headed for church.
            Now, at this point I had not stepped inside a church for 7 or 8 years. I had questions about the faith, had doubts about the bible, and was worn out and broken, despite all I had. I still don’t know exactly what happened, but the spirit moved me that day. I found no condemnation. For the first time in years I actually wanted to go back to church the next Sunday. That next Sunday they started advertising the Truth Project, a video series that answers questions on the faith. That series resolved my final issues, and I discovered the final step of conversion, the yielding of my will, and the acceptance of Christ as my Lord and Savior. Soon after I started to discover what I had heard about transformation. I discovered a thirst for God. While following Christ will always be a challenge, and I will fail more then I care to admit, I take great comfort in knowing that He has already paid it all. He has done what no mere man could, and He lavishes His love on us, no matter how undeserving.
        </p>

        <h2>Into the Present</h2>
        <p>
            Five years have passed since I wrote that, we have been blessed with 2 more wonderful boys Malakai and Nathan.
            Stephanie had major heart problems from her last pregnancy and had a pace maker put in to help resolve it.
            This has been a resounding success!
        </p>
        <p>
            I found a new job, giving me the ability to work from home. I have been able to enjoy my family much more now that I am around, and
            I hope to be able to continue the practice. We survived a kitchen remodel this last summer, which leads us into what this site was created for...
        </p>
        <h2>Hosting</h2>
        <p>
            On December 8th 2016 I had never considered hosting a child from another country.
            I had only thought about adoption briefly when we were having miscarriages, and pretty much decided we would never do that.
            That night I dreamed that Denis (I would learn his name the next day) was in our home, that he had somehow become part of it.
            I can't even explain the dream, other than to say it affected me enough to tell my wife about it in the morning, really just so she knew how crazy I am.
            There was still no way it would happen, we had to come up with $1,500 by yesterday.
        </p>
        <p>
            On December 9th 2016 We were signed up, and the bill had mostly been promised. We met Denis a few days later, panic was starting to set in, we could hardly speak.
            We figured out the translators, learned to laugh at them, and slowed the conversations while accelerating our activities.  We completely and totally fell in love.
        </p>
        <p>
            Wait, so you want us to send them back? Um, I wasn't prepared for the connection that happened, and I certainly wasn't prepared to send him back to his Ukrainian life.
            Which is why we are pushing forward, giving everything we have to bring him home to stay. There are lots of obstacles, but if God has shown me anything, it's that He will do whatever He wills.
            We are blessed to be able to go along for the ride. Please travel with us too, be that with prayer, donations, or just putting up with us while we rattle on.
        </p>
    </div>
</div>