@model ForeverHomeNg.Controllers.HomeModel
<div class="">
    <div class="progress"><div class="progress-bar" style="width:@(Model.CompletedPercent)%"></div></div>
    @*<img class="col-lg-4" style="" src="/Content/DenisJfkTall.jpg" />*@
    <table class="col-lg-8" > @*Hide for now.*@
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Title)*@
                Title
            </th>
        </tr>
        @foreach (var item in Model.AdoptionSteps)
        {
            @:<tr class="roadRow">
                @:<td>
                    
                    @:<div class="roadTitle">
                    if (item.Completed == true)
                    {
                        @:<i class='glyphicon glyphicon-thumbs-up'>
                    }
                    else
                    {
                        @:<i class='glyphicon glyphicon-hand-right'>
                    }

                    @Html.DisplayFor(modelItem => item.Title)
                    @:</i></div>

                    <div class="roadDetail">@Html.DisplayFor(modelItem => item.Description)</div>                    
                @:</td>
            @:</tr>
        }
    </table>
    </div>
