@model ForeverHomeNg.Controllers.HomeModel
<div class="borderedboxlight">
    <div>This is a long process, but we are under way. As I learn more, and as we progress, I'll update things here.</div>
    <br />
    <div class="progress" style="width: 90%; margin-left: 10px;">
        <div class="progress-bar" style="width: @(Model.CompletedPercent)%"></div>
    </div>
    <table class=""> @*Hide for now.*@
        <tr>
            <th>
                The Steps I know about:
            </th>
        </tr>
        @foreach (var item in Model.AdoptionSteps)
        {
            @:<tr class="roadRow">
            @:<td>

            @:<div class="roadTitle">
            if (item.Completed == true)
            {
                @:<i class='glyphicon glyphicon-check'>
            }
            else
            {
                @:<i class='glyphicon glyphicon-unchecked'>
            }

            @Html.DisplayFor(modelItem => item.Title)
            @:</i></div>

            <div class="roadDetail">@Html.DisplayFor(modelItem => item.Description)</div>
            @:</td>
            @:</tr>
        }
    </table>
</div>
